body {
    margin: 0;
    background-color: rgb(208,255,239);
    background-repeat: no-repeat;
    background-image:url(https://images7.alphacoders.com/115/1154544.jpg) ;
}

header, h1, p{
    margin: 10px 0 0 0;
    display: grid;
    justify-content: center;
    color: blueviolet;
}
button {
    width: 100px;
    margin-top: 10px;
    justify-self: center;
}


.points {
    margin: 2vh 20vh 0 0;
}

.points h2, h3 {
    margin: 0;
    color: blueviolet;
}

.points {
    display: grid;
    justify-content: flex-end;
}

.game-over h2, h3 {
    margin: 0;
}

#GO{
    color: rgb(167, 117, 117);
}

.game-over {
    display: grid;
    margin: 0;
    align-items: center;
    justify-content: center;

}

.main-game {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius {
    display: grid;
    grid-template-areas: 'verde vermelho'
    'amarelo azul';
    grid-gap: 10px;
    border: 1px solid black;
    background-color: white;
    border-radius: 100%;
    width: 700px;
    height: 700px;
}

.blue {
    grid-area: azul;
    background-color: blue;
    border-bottom-right-radius: 100%;

}

.red {
    grid-area: vermelho;
    background-color: red;
    border-top-right-radius: 100%;
}

.yellow {
    grid-area: amarelo;
    background-color: yellow;
    border-bottom-left-radius: 100%;
}

.green {
    grid-area: verde;
    background-color: green;
    border-top-left-radius: 100%;
}

.selected {
    opacity: 0.2;
}

.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}